@import "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Kreon:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.index {
    background-image: url("../assets/background-blur.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

.recipesBody {
    background-color: #fefae0;
}

#title {
    text-align: center;
    font-size: 5em;
    font-family: Vogue;
    color: #12674A;
    margin-top: 15px;
}

.recipe-name {
    font-family: Vogue;
    text-align: left;
    color: #fefae0;
    font-size: 3.5em;
    background-color: #12674A;
    margin: 0px 0px;
    text-align: left;
    background-position: center;
    border-radius: 5px;
    text-indent: 15px;
}

h2 {
    text-align: left;
    font-family: Vogue;
}

p {
    text-align: left;
    font-family: Vogue;
    font-size: 1.2em;
    margin-top: 99px;
}

a {
    text-decoration: none;
}

hr {
    border: 3px solid #12674A;
    margin-left:0;
}

.menu {
    display: inline-block;
    margin: auto;
    width: 100%;
    margin-top: 50px;
}

.recipe {
    width: 350px;
    height: 450px; 
    border-radius: 10px; 
    margin: 30px;
    transition: 1s;
    box-shadow: 10px 10px 10px 1px rgba(233, 237, 201, 0.115)
}

.recipe:hover {
    transition: 1s;
    transform: scale(1.2);
}

#container {
    display: grid;
    align-items: left; 
    grid-template-columns: 1fr 1fr 1fr 1fr;
    float: left;
    width: 100%;
}

.recipe-img {
    border-radius: 20px;
    margin-left: 15px;
    margin-top: 15px;
    width: 400px;
    height: 500px;
    float: left; 
}
.title {
    font-size: 4em;
    font-family: Vogue;
    float: left;
    text-decoration: underline;
    text-decoration-color: #12674A;
    text-decoration-thickness: 2px;
}

.text {
    text-align: left;
    margin-top: 15px;
    font-family: Vogue;
    max-width: 360px;
    float: left;

}

.preparo{
    margin-top: 15px;
}

ul {
    list-style-type: none;
    text-align: left;
    font-size: 1.2em;
    font-family: Vogue;
    padding-left: 0px;
    margin-top: 50px;
}

ul>li {
    padding-left: 0px;
    padding: 2px;
}

ul>li::before {
    content: "\f2e7";
    font-family: "FontAwesome";
    color: #12674A;
    margin-right: 1em;
    font-size: 0.7em;
    vertical-align: center;
  }

ol {
    text-align: left;
    font-size: 1.2em;
    font-family: Vogue;
    padding-left: 15px;
    margin-top: 50px;
}

ol>li {
    padding-left: 4px;
    padding: 2px;
}

ol>li::before {
    margin-right: 1em;
    font-size: 0.7em;
    vertical-align: center;
}